<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer_about-text">
                Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Delegadis gente finis, bibendum egestas augue arcu ut est.In elementis mé pra quem é amistosis quis leo.Detraxit consequat et quo num tendi nada.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul class="footer__contato">
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    email@email.com.br
                </li>

                <li>
                    <i class="fa-solid fa-phone"></i>
                    0800616161
                </li>

                <li>
                    <i class="fa-brands fa-square-whatsapp"></i>
                    (84) 9 8147-2624
                </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>